@font-face {
    font-family: 'DrugsRegular';
    src: url('../fonts/DrugsRegular.eot');
    src: url('../fonts/DrugsRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DrugsRegular.woff') format('woff'),
         url('../fonts/DrugsRegular.ttf') format('truetype'),
         url('../fonts/DrugsRegular.otf') format('otf');
}

@font-face {
    font-family: 'socicon';
    src: url('../fonts/socicon-webfont.eot');
    src: url('../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socicon-webfont.woff') format('woff'),
         url('../fonts/socicon-webfont.woff2') format('woff2'),
         url('../fonts/socicon-webfont.ttf') format('truetype'),
         url('../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Main */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'DrugsRegular';
  padding-top: 110px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
  max-width: 970px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Didact Gothic', sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

input[type="text"] {
  height: 40px;
  width: 100%;
  font-size: 15px;
  color: #010101;
  border: 1px solid #663300;
  padding: 0 20px;
}

.btn {
  font-size: 16px;
  padding: 2px 0;
  border-radius: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn:hover {
  opacity: .9;
}

.btn-brown {
  background: #996633;
  color: #ffffff;
  border-color: transparent;
}

.btn-brown:hover {
  color: #ffffff;
}

.btn-white {
  background: transparent;
  color: #996633;
  border-color: #996633;
}

.btn-white:hover {
  color: #996633;
}

.cube:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -21px;
  background: url(../img/cube.png) no-repeat;
  width: 41px;
  height: 41px;
  margin-left: -21px;
  z-index: 10;
}

/* Heared */

.header-section {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background: #ffffff;
  width: 100%;
}

.header-section .logo {
  display: inline-block;
}

.header-right {
  text-align: right;
}

.header-right .phone-holder {
  max-width: 320px;
  display: inline-block;
  text-align: left;
  padding-top: 5px;
}

.header-right .phone-holder .section {
  display: inline-block;
  width: 45%;
}


.header-right .phone-holder p {
  font-size: 14px;
  color: #996633;
  display: inline-block;
  margin-bottom: 20px;
}

.header-right .btns-holder {
  display: inline-block;
  width: 205px;
}

.header-right .btns-holder .btn {
  display: block;
}

.header-right .btns-holder .btn-brown {
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {

  body {
    padding-top: 0;
  }

  .header-section {
    text-align: center;
    position: static;
  }

  .header-section .logo {
    margin-bottom: 15px;
  }

  .header-right .phone-holder {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }

  .header-right .phone-holder p {
    display: block;
  }

  .header-right .phone-holder .section {
    display: block;
    width: 100%;
    text-align: center;
  }

  .header-right .btns-holder {
    display: block;
    margin: auto;
  }

}

/* Banner */

.banner-section {
  background: url(../img/bg/banner_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0 70px;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.banner-section h2 {
  line-height: 1.2;
}

.banner-section p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
  margin-top: 30px;
  line-height: 1.2;
}

.banner-section p span {
  display: block;
}

/* Dignity */

.dignity-section {
  background: url(../img/bg/dignity_bg.jpg) center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

.dignity-section h2 {
  margin-bottom: 30px;
}

.dignity-item {
  display: table;
  width: 100%;
  height: 70px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  padding: 5px 50px;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
}
.dignity-item span {
  display: table-cell;
  vertical-align: middle;
}

@media only screen and (max-width: 991px) {

  .dignity-item {
    font-size: 18px;
    height: 75px;
  }

}

@media only screen and (max-width: 767px) {

  .dignity-item {
    font-size: 20px;
  }

}

/* Jobs */

.jobs-section {
  padding: 0 0 30px;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #996633;
  position: relative;
}

.jobs-inner {
  position: relative;
  margin-bottom: 30px;
}

.jobs-inner img {
  width: 100%;
}

.jobs-inner .jobs-descrip {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  margin-top: -25px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  color: #f2f2f2;
  text-align: center;
}

.jobs-inner .jobs-descrip span {
  display: inline-block;
}

@media only screen and (max-width: 767px) {
  .jobs-inner img {
    height: 172px;
  }
}

/* Partners */

.partners-section {
  padding: 50px 0;
  text-align: center;
  color: #ffffff;
  border-bottom: 1px solid #996633;
  position: relative;
}

.partners-section h2 {
  color: #996633;
  margin-bottom: 40px;
}

.partners-single {
  display: inline-block;
  height: 105px;
  width: 20%;
  margin-right: -3px;
  text-align: center;
  position: relative;
}

.partners-single img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@media only screen and (max-width: 991px) {

  .partners-single {
    width: 25%;
  }

}

@media only screen and (max-width: 767px) {

  .partners-single {
    width: 50%;
  }

}

/* Reviews */

.reviews-section {
  padding: 50px 0 20px;
  text-align: center;
  border-bottom: 1px solid #996633;
  position: relative;
}

.reviews-section h2 {
  color: #996633;
  margin-bottom: 40px;
}

.reviews-single {
  background: #a6dfc3;
  padding: 15px 15px 20px;
  margin-bottom: 30px;
  position: relative;
}

.reviews-single:before {
  content: '';
  width: 0;
  border-top: 10px solid #ffffff;
  border-left: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}


.reviews-single .image-holder {
  float: left;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.reviews-single .text-holder {
  padding-left: 90px;
  text-align: left;
}

.reviews-single .text-holder h5 {
  font-size: 18px;
  color: #252525;
  margin-bottom: 10px;
  font-weight: bold;
}

.reviews-single .text-holder h5 span {
  font-weight: normal;
  font-style: italic;
}

.reviews-single .text-holder p {
  font-size: 17px;
  color: #252525;
  line-height: 1.1;
}

/* Map */

#map-canvas {
  height: 320px;
  width: 100%;
}

.map-section .container {
  position: relative;
}

.map-section .map-inner {
  position: absolute;
  width: 400px;
  top: 100%;
  right: 15px;
  margin-top: 30px;
  padding: 45px 0 30px;
  color: #ffffff;
  text-align: center;
  z-index: 100;
  overflow: hidden;
}

.map-section .map-inner:before{
  content:'';
  position:absolute;
  width:1100%; height:1100%;
  top: 20px; right:-500%;
  background: rgba(0,0,0,.5);
  -webkit-transform-origin:46% 0;
  -ms-transform-origin:46% 0;
  transform-origin:46% 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index:-1;
}

.map-section .map-inner h5 {
  font-size: 20px;
  margin-bottom: 30px;
}

.map-section .map-inner p {
  font-size: 15px;
  margin-bottom: 15px;
}

.map-section .map-inner hr {
  margin: 0;
  width: 150px;
  border-color: #aaa9a8;
  display: inline-block;
}

@media only screen and (max-width: 767px) {

  .map-section .map-inner {
    width: 100%;
    right: 0;
  }

}

/* Footer */

.footer-section {
  background: #003c1e;
  padding: 30px 0 20px;
  text-align: center;
  position: relative;
}

.footer-section .footer-logo {
  width: 100%;
}

.footer-phone {
  margin-bottom: 10px;
}

.footer-phone .section {
  width: 50%;
  float: left;
  text-align: left;
  padding-left: 50px;
}

.footer-phone p {
  font-size: 14px;
  color: #e9b47e;
  margin-bottom: 5px;
}

.footer-section .social a {
  display: inline-block;
  margin: 0 10px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-family: 'socicon';
  font-size: 25px;
  background: #e9b47e;
  padding: 12px;
  color: #003c1e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.footer-section .social a:hover {
  opacity: .8;
}

.footer-section .btns-holder .btn {
  width: 100%;
}

.footer-section .btns-holder .btn-brown {
  margin-bottom: 10px;
  background: #e9b47e;
  color: #003c1e;
}

.footer-section .btns-holder .btn-white {
  border-color: #e9b47e;
  color: #e9b47e;
}

.footer-section .btns-holder p {
  font-size: 15px;
  color: #e9b47e;
  margin-top: 15px;
  text-align: left;
}

.footer-section .btns-holder p a {
  font-size: 15px;
  color: #e9b47e;
}

.footer-section .btns-holder p a:hover {
  border-bottom: 1px solid #e9b47e;
}

@media only screen and (max-width: 991px) {

  .footer-phone .section {
    padding-left: 25px;
  }

}

@media only screen and (max-width: 991px) {

  .footer-section .footer-logo {
    width: auto;
  }

  .footer-phone {
    margin-top: 15px;
  }

  .footer-phone .section {
    width: 100%;
    float: none;
    padding-left: 0;
    text-align: center;
  }

  .footer-section .social {
    margin-bottom: 15px;
  }

  .footer-section .social a {
    margin: 0;
  }

}

/* Modals */

.modal-dialog {
  max-width: 440px;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -220px;
}

.modal-content {
  border-radius: 0;
}

.modal-content form {
  height: 210px;
  padding: 10px 75px 15px;
  text-align: center;
}

.modal-content h5 {
  font-size: 18px;
  margin-bottom: 15px;
}

.modal-content .close {
  font-size: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid #663300;
  background: url(../img/close.png) no-repeat center;
  opacity: 1;
  top: 15px;
  right: 15px;
  float: none;
  position: absolute;
}

.modal-content .close:hover {
  opacity: .7;
}

.modal-content input[type="text"] {
  margin-bottom: 15px;
}

.modal-content input[type="submit"] {
  display: inline-block;
  padding: 12px 25px;
  font-size: 15px;
  background: transparent;
  border: 1px solid #663300;
  color: #010101;
}

.modal-content input[type="submit"]:hover {
  background: #663300;
  color: #ffffff;
}


@media only screen and (max-width: 767px) {

  .modal-dialog {
    left: 0;
    margin-left: 0;
  }

  .modal-content form {
    padding: 10px 30px 15px;
  }

}
